<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTCUSDT|NEWS</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>

<body>

    <body class="w3-light-grey w3-content w3-section">
        <div>
            <h1 class="w3-center w3-opacity">
                <b>News</b>
                <br>
                <a href="/" class="w3-button w3-green w3-small">Home</a>
            </h1>
            <table class="w3-table-all">
                <thead>
                    <tr>
                        <th>from_time</th>
                        <th>to_time</th>
                        <th>signal</th>
                    </tr>
                    {% for signal in signals %}
                    <tr>
                        <th>{{signal['from_time']}}</th>
                        <th>{{signal['to_time']}}</th>
                        <th>{{signal['signal']}}</th>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
    </body>
</body>

</html>